@import "tailwindcss";
@font-face {
  font-family: "Instrument Sans";
  src: url("./assets/fonts/InstrumentSans-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

*{
    font-family: "Instrument Sans", sans-serif;
}

.background{
  background-image: url("./assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: blue;
}